@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

*{
    margin: 0;
}

:root{
    --noir:#000;
    --rouge:#cc3900;
    --blanc:#fff;
    --rose:#fbbbcd;
    --gloria:'Gloria Hallelujah', cursive;
    --noto:'Noto Serif Display', serif;
}

h2{
    font-family: var(--gloria);
    font-size: 45px;
    line-height: 45px;
}

h3{
    font-family: var(--gloria);
    font-size: 28px;
    line-height: 28px;
}

header{
    max-width: 1440px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 15px;
}

header img:nth-child(1){
    max-width: 180px;
    max-height: 105px;
}

header ul{
    display: flex
}

header li{
    padding: 0px;
    list-style: none;
    padding: 0px 15px;
}

header ul li a{
    text-decoration: none;
    color: black;
}

#accueil a{
    color:var(--rouge);
}

header div a{
    padding-left: 15px;
}

#section1{
    background-image: url(/img/favicon.png);
    background-repeat: no-repeat;
}

#section1 img{
    width: 100%;
}

#divsection1{
    display: grid;
    grid-template-columns: 70% 30%;
    padding: 0px 15px;
    align-items: center;
    max-width: 1440px;
    margin: auto;
}

#section1 article:nth-child(1){
    width: 65%;
}

#section1 hr{
    background-color: var(--rouge);
    border-color: var(--rouge);
    max-width: 50px;
    height: 1px;
}

#section1 h1{
    color:var(--rouge);
}

#divsection1 article div{
    display: grid;
    grid-template-columns: 10% 10%;
    align-items: center;
    gap: 10px;
}

#divsection1 h2, h3, p{
    padding-top: 30px;
}


